{% extends "admin/index.html" %}
{% load i18n admin_static adminplusplus_template_tags %}

{%  block css %}
{{ block.super }}
<style>
span.timeline-badge {
    border: 2px solid #eeeeee;
    border-radius: 50%;
    color: #ffffff;
    height: 38px;
    left: 50%;
    line-height: 36px;
    margin-left: -19px;
    position: absolute;
    text-align: center;
    width: 38px;
    z-index: 100;
}
.timeline .row.timeline-item{
    padding-top: 9px;
}
.timeline-text{
    padding-right: 2em;
}
.timeline .row.timeline-item p {
    margin: 10px 0 20px;
}
span.h4 {
    margin-bottom: 10px;
    display: block;
}
.last-item{
    padding-bottom: 15px;
}
</style>
{% endblock css %}

{% block contentmain %}
    <div id="content-main">
        <div class="panel panel-default">
            <div id="content-related" class="panel-body">
                <div class="row">
                    {% if app_list %} {# fastfix #}
                        {% with custom_dict|bigregroup:app_list as items_list %}
                            {% for section in items_list %}
                            {% for group, list in section.items %}
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <span class="h4">{{ group }}</span>
                                        {% for item in list %}
                                            {% if 'app_label' in item.keys %}<!-- значит приложение -->
                                                {% for model in item.models %}
                                                    <li {% if forloop.last and forloop.parentloop.last %}class='last-item'{% endif %}>
                                                        <a href="{% if model.admin_url %}{{ model.admin_url }}{% else %}#{% endif %}" title="{{ app.name }} &raquo; {{ model.name }}" class="left-menu__model {% if not model.admin_url %}disabled{% endif %}">{{ model.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <li {% if forloop.last %}class='last-item'{% endif %}><a href="{{ item.0 }}" class="left-menu__view">{{ item.1 }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% cycle '' '' '<div class="clearfix"></div>'  %}
                                {% if not forloop.last %}{% cycle '' '' '<hr class="hidden-sm hidden-xs">'  %}{% endif %}
                            {% endfor %}
                            {% endfor %}
                        {% endwith %}
                    {% else %}
                        {% for section in items_list %}
                            {% for group, list in section.items %}
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <span class="h4">{{ group }}</span>
                                        {% for item in list %}
                                            {% if 'app_label' in item.keys %}<!-- значит приложение -->
                                                {% for model in item.models %}
                                                    <li {% if forloop.last and forloop.parentloop.last %}class='last-item'{% endif %}>
                                                        <a href="{% if model.admin_url %}{{ model.admin_url }}{% else %}#{% endif %}" title="{{ app.name }} &raquo; {{ model.name }}" class="left-menu__model {% if not model.admin_url %}disabled{% endif %}">{{ model.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <li {% if forloop.last %}class='last-item'{% endif %}><a href="{{ item.0 }}" class="left-menu__view">{{ item.1 }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% cycle '' '' '<div class="clearfix"></div>'  %}
                                {% if not forloop.last %}{% cycle '' '' '<hr class="hidden-sm hidden-xs">'  %}{% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% block recent_actions %}{% endblock %}
</div>
{% endblock %}