{% load i18n adminplusplus_template_tags %}

{% if custom_dict and app_list %}
  {% with custom_dict|bigregroup:app_list as items_list %}
    {% for section in items_list %}
    {% for group, list in section.items %}
      <ul class="nav nav-sidebar  module{% if group in current_url %} has-active-menu show-models{% endif %}">
        <li>
          <a href="{{ app.app_url }}" class="section" >
            {{ group }}
          </a>
        </li>
          {% for item in list %}
            {% if 'app_label' in item.keys %}<!-- значит приложение -->
              {% for model in item.models %}
                <li {% if model.admin_url in current_url %}class="active"{% endif %}>
                  <a href="{% firstof model.admin_url model.add_url '#' %}" title="{% if not model.admin_url and not model.add_url %}{% trans "You don't have permission to edit anything." %}{% endif %}">{{ model.name }}</a>
                </li>
              {% endfor %}
            {% else %}
              <li {% if item.0 in current_url %}class="active"{% endif %}>
                <a href="{% url 'admin:index' %}{{ item.0 }}" class="left-menu__view">{{ item.1 }}</a>
              </li>
            {% endif %}
          {% endfor %}
      </ul>
    {% endfor %}
    {% endfor %}
  {% endwith %}
{% endif %}

<script>
$(document).ready(function(){
    $("li.active").closest("ul").addClass('show-models');
})
</script>