{% extends "admin/change_list.html" %}
{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
</div>
{% endblock %}

{% block css %}
{% endblock css %}

{% block content %}
  <div id="content-main">
    <div class="module">
      <div style="display: none;" class="logtail-controls">
        <a id="back_button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {% trans "Вернуться к менеджеру файлов" %}
        </a>
        <div>
          <input type="checkbox" class="checkbox" id="scroll_checkbox">
          <label for="scroll_checkbox">Auto-Scroll</label>
          <input type="checkbox" class="checkbox" id="poll_checkbox" checked >
          <label for="poll_checkbox">Auto-Poll</label>
        </div>
      </div>
      <table id="change-history" class="table hide">
        <thead>
          <tr>
            <th scope="col">Log</th>
            <th scope="col">Path</th>
          </tr>
        </thead>
        <tbody>
          {% for log, path in logfiles %}
            <tr>
              <th scope="row"><a href="#" class="logfile_change" data-path="{{ path }}">{{ log }}</a></th>
              <td>{{ path }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="log-tail" style="display: none;"> </div>
  </div>

  <div id="filemanager_block" class="clearfix" oncontextmenu="return false;">
    {% include "filemanager/iframe_block.html" %}
  </div>
{% endblock content %}

{% block js %}
{% endblock js %}
