{% extends 'admin/base.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li class="home">
        <a href="{% url 'admin:index' %}" title="Начало"><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="active">Браузер файлов</li>
    </ol>
{% endblock %}

{% block content %}
    <iframe src="{{ request.path }}?iframe=1" style="border: 0; width: 100%; height: 600px"></iframe>
{% endblock %}