.custom_views {
    overflow: hidden;
}

.custom_views table {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.custom_views caption {
    color: #000;
    font-size: 24px;
    padding-bottom: 2px;
}

.custom_views a {
    font-size: 140%;
    margin-left: 20px;
}

.experiment {
    margin: 5px;
}

.statistic th {
    padding: 5px;
    text-align: center;
}

.statistic td {
    padding: 5px;
    text-align: center;
}

.statistic h6 {
    margin: 0;
    opacity: 0.5;
}

.ab-tests-panel {
    background-color: #529EC7;
    border-radius: 10px;
    width: 96%;
}

.ab-tests-panel a {
    color: #000;
}

.users-count {
    margin-top: 8px;
    margin-right: 10px;
}

.date-form {
    margin-top: 8px;
    margin-right: 10px;
}

.statistic table tbody tr td {
    height: 40px;
}

.parametr {
    text-align: center;
    margin-top: 5px;
}

.test-info {
    text-align: center;
    opacity: 0.5;
    font-size: 90%;
}

.timeline > li > .timeline-badge {
    left: 2%;
}

.timeline > li > .timeline-panel {
    left: 6%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}

.timeline > li > .timeline-panel:before {
    display: none;
}

#actions.hidden {
    height: 0;
    overflow: hidden;
}

#recent-actions-module .page-header {
    border: 0;
}

.timeline {
    padding: 0 0 0 0;
}

.timeline > li {
    position: relative;
    float: left;
    width: 45%;
    margin-left: 10px;
}

#languages ul {
    margin-right: 5%;
}

#languages ul li {
    padding: 0;
}

#languages ul li:hover {
    background-color: #006699;
}

.block-area {
    display: block;
    height: 40px;
    line-height:40px;
}

#param-experiment ul {
    margin-right: 5%;
}

#param-experiment ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

#param-experiment ul li {
    padding: 0;
}

#param-experiment ul li:hover {
    background-color: #006699;
}

#param-experiment ul li a:hover {
    color: #fff;
}

.block-area-param {
    display: block;
    height: 5em;
    line-height: 2em;
}

#languages ul li label {
    margin: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding-top: 11px;
}

#languages ul li .badge {
    background-color: #006633;
    float: right;
    margin-right: 10px;
}

.language-name {
    text-align: center;
    margin-top: 5px;
    font-size: 1.5em;
}

.language-color {
    background-color: #006699;
    color: #FFF;
}

.generate-chart {
    width: 124px;
    margin-top: 8px;
}

.full-data-cb {
    margin-top: 8px;
    margin-left: 10px;
    height: 34px;
    width: 170px;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.full-data-cb .checkbox:not(checked) + label:before {
    margin-top: 10px;
}

.full-data-cb .checkbox:not(checked) + label:after {
    margin-top: 10px;
}

.full-data-cb .checkbox:not(checked) + label {
    padding: 5px 0 0 50px;
}

.full-data-cb label {
    height: 100%;
    width: 100%;
}

.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}

.checkbox + label {
    cursor: pointer;
}

.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 42px;
}

.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    margin-top: 14px;
    margin-left: 4px;
    top: -3px;
    left: 0;
    width: 36px;
    height: 18px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    margin-top: 14px;
    margin-left: 4px;
    top: -2px;
    left: 1px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}

.checkbox:checked + label:before {
    background: #9FD468;
}

.checkbox:checked + label:after {
    left: 19px;
}

.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.generate-chart:disabled {
    opacity: 1;
    background-color: #CCC;
}

.statistic-block {
    position: relative;
    width: 100%;
}

.online-statistic {
    font-size: 2em;
}

.list-inline>.online-li {
    padding: 0 0 0 0;
    border: 0;
    background-color: #f5f5f5;
}

.statistic-info {
    text-align: center;
    font-size: 2em;
}